#!/system/bin/sh

bin_name="clash"

redir_port="7891"
tproxy_port="1536"
clash_dns_port="1053"
clash_dns_listen="0.0.0.0:${clash_dns_port}"
mihome_dns_forward="true"
fake_ip_range_v4="198.18.0.0/15"
fake_ip_range_v6="fc00::/18"
tun_device="tun0"

# 1p——————————————
box_user_group="root:net_admin"
# 如果要更改用户或组，必须在 /system/bin 目录中制作 Box 核心，否则更改不会生效。
# 如果您使用的是 Magisk，您可以将 Box 核心文件（sing-box、clash 等）复制到 /data/adb/modules/bin_files/system/bin/ 并重启手机

# 2p——————————————
bin_name_list=("sing-box" "clash" "xray" "v2ray" "hysteria")
box_path="/data/adb/box_bll"
bin_path="${box_path}/bin/${bin_name}"
run_path="${box_path}/run"
pid_file="${run_path}/${bin_name}.pid"

# 3p——————————————
intranet=(0.0.0.0/8 10.0.0.0/8 100.0.0.0/8 127.0.0.0/8 169.254.0.0/16 192.0.0.0/24 192.0.2.0/24 192.88.99.0/24 192.168.0.0/16 198.51.100.0/24 203.0.113.0/24 224.0.0.0/4 240.0.0.0/4 255.255.255.255/32)
intranet6=(::/128 ::1/128 ::ffff:0:0/96 100::/64 64:ff9b::/96 2001::/32 2001:10::/28 2001:20::/28 2001:db8::/32 2002::/16 240e::/16 2408::/16 2409::/16 fe80::/10 ff00::/8)

# 4p——————————————
ipv6="enable"
# disable “关闭” # enable  “开启”

# 5p——————————————
proxy_method="TPROXY"
# REDIRECT: TCP only / TPROXY: TCP + UDP / MIXED: REDIRECT TCP + TUN UDP

# 6p——————————————
proxy_mode="blacklist"
# blacklist / whitelist / core

# 7p——————————————
user_packages_list=()
# Android 用户:包名称，例如：
# user_packages_list=("0:com.android.captiveportallogin" "10:com.tencent.mm")

# 9p——————————————
gid_list=()
# 列表中的GID会根据proxy_mode配置绕过或者代理，gid可以通过busybox setuidgid命令任意指定

# 10p——————————————
ap_list=("wlan+" "ap+" "rndis+" "ncm+")
ignore_out_list=()


# 网络自定义策略
# 11p——————————————
clash_api_port=9090
# 作用: 配置Clash的API端口号，用于Clash面板与API交互时指定的端口
# 使用方法: 如果要通过面板（例如Meta面板）管理Clash，需要设置一个API端口，默认为9090，可以根据需求修改为其他未占用的端口号


# 12p——————————————
clash_api_secret=
# 作用: 配置Clash API的访问密钥。
# 使用方法: 如果配置了clash_api_secret，访问Clash API需要验证这个密钥，如果不设置则不需要API访问密码，建议设置以提升安全性


# 13p——————————————
use_custom_direct=false
# true / false
# 作用: 是否使用自定义的直连规则
# 使用方法: 设置为true表示使用自定义的直连（DIRECT）规则，false表示不使用，此选项决定是否启用自定义的网络直连策略


# 14p——————————————
ctr_mode=disable
# disable / switch / selector / mode
# 作用: 控制Clash的策略模式
# 使用方法:
# disable: 关闭Clash策略选择
# switch: 自动切换策略
# selector: 通过手动选择代理组
# mode: 切换特定模式（如rule、global等）根据需求选择Clash的策略管理模式


# 15p——————————————
select_outbound=domestic
# 作用: 配置需要切换的策略组类型，用于选择代理出口组
# 使用方法: 一般用来指定国内或国外流量的出口代理，例如domestic表示使用国内代理组，可以根据网络情况自定义


# 16p——————————————
default_outbound=direct
# 作用: 配置在移动网络下的默认代理出口
# 使用方法: 设为direct表示移动网络不走代理（直连），也可以设置为其他代理策略。如果想让移动网络使用代理，可以改为对应的代理名称


# 17p——————————————
direct_outbound=direct
# 作用: 配置WiFi连接时的代理出口
# 使用方法: 设为direct表示WiFi连接时直连，也可以设置为特定的代理出口名称，WiFi网络情况下常用的策略是直连，除非有特殊代理需求


# 19p——————————————
proxy_outbound=
# 作用: 配置固定移动网络下的代理出口
# 使用方法: 可以指定固定网络（如运营商的移动网络）使用哪个代理出口，为空时使用默认的移动网络策略


# 20p——————————————
direct_outbound_list=""
# 填写模板：CMCC_XXXX:DIRECT;TPLINK_XXXX:ROUTER
# 作用: 配置特定WiFi的直连代理出口规则
# 使用方法: 以SSID:Proxies的形式指定不同WiFi网络的直连规则
# 例如：
# CMCC_XXXX:DIRECT: 当连接SSID为CMCC_XXXX的WiFi时，使用DIRECT直连
# TPLINK_XXXX:ROUTER: 当连接TPLINK_XXXX时，使用ROUTER代理，可以根据不同WiFi情况指定不同代理策略


# 21p——————————————
default_clash_mode=direct
# 作用: 配置移动网络下的Clash模式
# 使用方法: direct表示移动网络使用直连模式，也可以设定为其他Clash模式（如rule、global等）这个选项决定在移动网络下使用的Clash模式


# 22p——————————————
direct_clash_mode=rule
# 作用: 配置WiFi连接时的默认Clash模式
# 使用方法: 设为rule表示使用基于规则的代理模式，WiFi连接时通常使用规则模式来根据流量类型自动选择代理


# 23p——————————————
proxy_clash_mode=
# 作用: 配置移动网络断开时的Clash模式
# 使用方法: 该选项可以配置当移动网络断开时使用的Clash代理模式，为空时使用默认设置


# 24p——————————————
direct_clash_mode_list=""
# 填写模板：CMCC_XXXX:rule;TPLINK_XXXX:rule-tplink
# 作用: 配置特定WiFi的Clash模式
# 使用方法: 以SSID:ClashMode的形式指定不同WiFi网络的Clash模式
# 例如：
# CMCC_XXXX:rule: 当连接SSID为CMCC_XXXX的WiFi时，使用rule模式
# TPLINK_XXXX:rule-tplink: 连接到TPLINK_XXXX时，使用自定义的rule-tplink模式，这样可以为不同的WiFi网络配置不同的Clash代理模式
