#!/system/bin/sh

bin_name="clash"

redir_port="7891"
tproxy_port="1536"
clash_dns_port="1053"
clash_dns_listen="0.0.0.0:${clash_dns_port}"
clash_dns_forward="true"
fake_ip_range_v4="198.18.0.0/15"
fake_ip_range_v6="fc00::/18"
tun_device="tun0"

box_user_group="root:net_admin"
# 如果要更改用户或组，必须在 /system/bin 目录中制作 Box 核心，否则更改不会生效。
# 如果您使用的是 Magisk，您可以将 Box 核心文件（sing-box、clash 等）复制到 /data/adb/modules/bin_files/system/bin/ 并重启手机

bin_name_list=("sing-box" "clash" "xray" "v2ray" "hysteria")
box_path="/data/adb/box_bll"
bin_path="${box_path}/bin/${bin_name}"
run_path="${box_path}/run"
pid_file="${run_path}/${bin_name}.pid"

intranet=(0.0.0.0/8 10.0.0.0/8 100.0.0.0/8 127.0.0.0/8 169.254.0.0/16 192.0.0.0/24 192.0.2.0/24 192.88.99.0/24 192.168.0.0/16 198.51.100.0/24 203.0.113.0/24 224.0.0.0/4 240.0.0.0/4 255.255.255.255/32)
intranet6=(::/128 ::1/128 ::ffff:0:0/96 100::/64 64:ff9b::/96 2001::/32 2001:10::/28 2001:20::/28 2001:db8::/32 2002::/16 240e::/16 2408::/16 2409::/16 fe80::/10 ff00::/8)

ipv6="enable"
# disable “关闭” # enable  “开启”

proxy_method="TPROXY"
# REDIRECT: TCP only / TPROXY: TCP + UDP / MIXED: REDIRECT TCP + TUN UDP

proxy_mode="blacklist"
# blacklist / whitelist / core

user_packages_list=()
# 示：Android用户:包名称 
# 例如：user_packages_list=("0:com.android.captiveportallogin" "10:com.tencent.mm")

gid_list=()
# 根据proxy_mode配置绕过或者代理，可以通过busybox setuidgid命令任意指定

ap_list=("wlan+" "ap+" "rndis+" "ncm+")
ignore_out_list=()

# 是否根据网络状态控制模块服务？
# false “禁用” # true “启用”
enable_network_service_control=flase

# 断开WiFi网络后是否启用模块服务
use_module_on_wifi_disconnect=true

# WiFi网络下是否启用模块服务
use_module_on_wifi=true

# 是否启用WiFi SSID匹配 # 需要匹配的WiFi SSID
use_ssid_matching=false
allowed_wifi_ssids="Test wifi XXX"