#!/system/bin/sh

bin_name="clash"

redir_port="7891"
tproxy_port="1536"
clash_dns_port="1053"
clash_dns_listen="0.0.0.0:${clash_dns_port}"
clash_dns_forward="true"
fake_ip_range_v4="198.18.0.0/15"
fake_ip_range_v6="fc00::/18"
tun_device="tun0"

# 1p===================
box_user_group="root:net_admin"
# 如果要更改用户或组，必须在 /system/bin 目录中制作 Box 核心，否则更改不会生效。
# 如果您使用的是 Magisk，您可以将 Box 核心文件（sing-box、clash 等）复制到 /data/adb/modules/bin_files/system/bin/ 并重启手机

# 2p===================
bin_name_list=("sing-box" "clash" "xray" "v2ray" "hysteria")
box_path="/data/adb/box_bll"
bin_path="${box_path}/bin/${bin_name}"
run_path="${box_path}/run"
pid_file="${run_path}/${bin_name}.pid"

# 3p===================
intranet=(0.0.0.0/8 10.0.0.0/8 100.0.0.0/8 127.0.0.0/8 169.254.0.0/16 192.0.0.0/24 192.0.2.0/24 192.88.99.0/24 192.168.0.0/16 198.51.100.0/24 203.0.113.0/24 224.0.0.0/4 240.0.0.0/4 255.255.255.255/32)
intranet6=(::/128 ::1/128 ::ffff:0:0/96 100::/64 64:ff9b::/96 2001::/32 2001:10::/28 2001:20::/28 2001:db8::/32 2002::/16 240e::/16 2408::/16 2409::/16 fe80::/10 ff00::/8)

# 4p===================
ipv6="enable"
# disable “关闭” # enable  “开启”

# 5p===================
proxy_method="TPROXY"
# REDIRECT: TCP only / TPROXY: TCP + UDP / MIXED: REDIRECT TCP + TUN UDP

# 6p===================
proxy_mode="blacklist"
# blacklist / whitelist / core

# 7p===================
user_packages_list=()
# 示：Android用户:包名称 
# 例如：user_packages_list=("0:com.android.captiveportallogin" "10:com.tencent.mm")

# 8p===================
gid_list=()
# 列表中的gid会根据proxy_mode配置绕过或者代理，gid可以通过busybox setuidgid命令任意指定

# 9p===================
ap_list=("wlan+" "ap+" "rndis+" "ncm+")
ignore_out_list=()


# 自定义策略
# 10p===================
clash_api_port=9090

# 配置 Clash 的 API 端口号，用于面板与 API 交互时指定的端口


# 11p===================
clash_api_secret=

# 配置 Clash API 的访问密钥


# 12p===================
use_custom_direct=false

# true / false


# 13p===================
ctr_mode=disable

# disable / switch / selector / mode
# 控制 Clash 的策略模式
# disable: 关闭 Clash 策略选择
# switch: 自动切换策略
# selector: 通过手动选择代理组
# mode: 切换特定模式（如rule、global等）根据需求选择 Clash 策略管理模式


# 14p===================
select_outbound=domestic

# 切换代理的选择类型策略组


# 15p===================
default_outbound=

# 蜂窝数据中的默认代理


# 16p===================
proxy_outbound=

# 指定蜂窝数据下的代理


# 17p===================
default_clash_mode=direct

# 蜂窝数据下 Clash 的 Mode
# direct、rule、global


# 18p===================
direct_outbound=

# WLAN 下的代理


# 19p===================
direct_clash_mode=rule

# 连接 WLAN 时 Clash 的 Mode


# 20p===================
proxy_clash_mode=direct

# 断开与 WLAN 连接时 Clash 的 Mode
# direct、rule、global


# 21p===================
direct_clash_mode_list=""

# 示：CMCC_XXXX:rule;TPLINK_XXXX:rule-tplink
# 配置特定 WiFi 的 Clash Mode

# CMCC_XXXX:rule 当连接 SSID 为 CMCC_XXXX 的 WiFi 时，使用 rule 模式
# TPLINK_XXXX:rule-tplink 连接到 TPLINK_XXXX 时，使用自定义的 rule-tplink 模式，为不同的 WiFi 网络配置不同的 Clash 代理模式


# 22p===================
direct_outbound_list=""

# 示：CMCC_XXXX:DIRECT;TPLINK_XXXX:ROUTER
# 配置特定 WiFi 下的代理

# CMCC_XXXX:DIRECT 当连接 SSID 为 CMCC_XXXX 的 WiFi 时，使用 DIRECT 直连
# TPLINK_XXXX:ROUTER 当连接 TPLINK_XXXX 时，使用 ROUTER 代理，可以根据不同 WiFi 情况指定不同代理